body{
    background-color: #b6b5b5;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 6px;
    text-align: center;
    width: 300px;
}
button, .btn {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
}